.footer-info-container {
	display: flex;
	justify-content: center;
	padding: $base__space-unit*3 0 $base__space-unit 0;

	@include desktop {
		padding: 4rem;
		.footer-navigation .menu-main-menu-container{
			position: initial;
			top: 0;
			left: 0;
		}
	}
}

.address {
		font-size: 0.7rem;
		margin-bottom: 0;
}

.footer-text {
	margin: auto;
	width: 260px;

	@include desktop {
		display: flex;
		justify-content: space-between;
		align-content: flex-start;
		width: 100%;
	}
	
	img {
		width: auto;
	}
}

.mobile-footer {
	font-family: $font__headings;
	@include desktop {
		position: relative;
	}
}

.copy {
	text-align: center;

	@include desktop {
		color: $color__text-white;
		margin: 0;
		margin-left: 4rem;
		text-align: left;
		position: absolute;
		bottom: 25%;
	}
}


.info {
	font-family:$font__headings;
}

.info, .address, .copy {
	color: $color__text-light;
}

// social media icons
.socials {
	margin-top: $base__space-unit;

	@include desktop {
		min-width: 180px;
	}
}

.logo {
	background-color: #e2e2f3;
}

.red {
	height: 35px;
	width: auto;
	display: flex;
	justify-content: flex-end;
	background-color: #e2dede;
	margin-bottom: -1.5rem;
}

.redtext {
	font-weight:bold;
}

.copyrights {
	display:flex;
}

.design {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background: $color__footer-bottom;
	color: $color__text-white;

	@include desktop {
		justify-content: flex-end;
		padding-right: 4rem;
	}

	img {
		width:auto;
		height:auto;
	}

	p {
		margin:0;
		padding-right:0.5rem;
	}
}

.logo-container {
	display: grid;
}

.logo-bottom-images {
	display: grid;
	grid-gap: 2rem;
	grid-template: 1fr 1fr / 1fr 1fr;
	
	@include desktop-footer {
		grid-template: 1fr / 1fr 1fr 1fr;
	}

	img {
		width: auto;
		height: auto;
	}
}

.footer-navigation {
	display: none;
}

@include desktop-footer {
	.footer-navigation  {
		display: flex;
		width: 69%;
		margin-top: 1.5rem;
		flex-direction: column;

		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
		}

		li {
			float: left;
			font-family: $font__headings;
			font-weight: bold;
			padding: 0 $base__space-unit*.8;
			position: relative;
			text-transform: uppercase;
		}
		
		a {
			display: block;
			text-decoration: none;
		}
	}

	.links-container {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}

	.share-host {
		position: absolute;
		top: 50px;
		left: 43%;

		a {
			color: $color__text-light;
			padding: $base__space-unit/2 0;
		}
	}
}

.sxc-follow-buttons {
	margin: 0;
	margin-top: $base__space-unit * 2;
	padding: 0;
	display: flex;
	justify-content: space-between;
	
	@include desktop {
		justify-content: flex-start;
		margin: 0;
	}
}