.footer-info-container{
	padding: 2rem;
	display: flex;
}

.footer-text p{
		max-width: 8rem;
		font-size: 0.7rem;
}
.footer-text img{
	width:auto;
}
.copy{
	margin-left:0rem;
}

.info{
	font-family:$font__headings;
}

// social media icons
.social-media-icons{
	  display: flex;
    justify-content: space-between;
    padding: 5rem;
}

.fa-facebook-square:before {
	content: "\f082";
	color: #0e0eca;
	font-size: 2rem;
}
.fa-youtube:before {
	content: "\f167";
	color: red;
	font-size: 2rem;
}
.fa-twitter-square:before {
	content: "\f081";
	color: #1f99c1;
	font-size: 2rem;
}
.fa-linkedin:before {
	content: "\f0e1";
	color: #3131e0;
	font-size: 2rem;
}
.fa{
  font-size: 43px;
}
.logo{
	background-color: #e2e2f3;
}
.red{
	height: 35px;
	width: auto;
	display: flex;
	justify-content: flex-end;
	background-color: #e2dede;
	margin-bottom: -1.5rem;
}
.redtext{
	font-weight:bold;
}
.copyrights{
	display:flex;
}



.copy{
	p{
		padding:1rem 0;
	}
}

.design{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	background: #777;
	color: white;
	img{
		width:auto;
		height:auto;
	}
	p{
		margin:0;
		padding-right:1rem;
	}
}

.logo-bottom-images{
	display:flex;
	flex-wrap: wrap;
	img{
		width:auto;
		height:auto;
		padding:1rem;
	}
}