.footer-info-container{
	justify-content: space-around;
	padding-top:9.5rem;
}

.footer-text p{
		max-width: 8rem;
		font-size: 0.7rem;
}
.footer-text img{
	width:auto;
}
.copy{
	margin-left:0rem;
}

.info{
	font-family:$font__headings;
}

// social media icons
.social-media-icons{
	  display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.fa-facebook-square:before {
	content: "\f082";
	color: #0e0eca;
	font-size: 4rem;
}
.fa-youtube:before {
	content: "\f167";
	color: red;
	font-size: 4rem;
}
.fa-twitter-square:before {
	content: "\f081";
	color: #1f99c1;
	font-size: 4rem;
}
.fa-linkedin:before {
	content: "\f0e1";
	color: #3131e0;
	font-size: 4rem;
}
.fa{
  font-size: 43px;
}

.logos{
	
}
.logo{
	background-color: #e2e2f3;
}
.red{
	height: 35px;
	width: auto;
	display: flex;
	justify-content: flex-end;
	background-color: #e2dede;
}
.redtext{
	font-weight:bold;
}
.copyrights{
	display:flex;
}




