/* Header */

header {
    align-items: center;
    display: flex;
    height: 100px;
    margin: 0 5%;
    max-width: $max-width;
    padding: 0;

    @include mobile-portrait {
            align-items: baseline;
        .menu-main-menu-container {
            position: absolute;
            top: 106px;
            left: 0px;
        };
        #primary-menu {
            align-items: center;
            grid-template-columns: 100%;
            grid-template-rows: 1fr 1fr 1fr;
            height: 340px;
            li a{
                border-width: medium;
            };
        };
        .site-branding{
            position: relative;
            top: 31px;
        };
        .menu-toggle{
            position: relative;
            top: 28px;
        };
    }

    @include desktop {
        margin: 0 10%;
        align-items: center !important;
        height: 100px !important;
        #primary-menu {
            display: block !important;
        }
    }

    .site-branding {
        align-items: center;
        display: flex;
        z-index: 98;
    }
}

#primary-menu {
    a{
        border-bottom: solid;
        border-width: 0;
    }
    :nth-child(1){
        a {
            border-color: $border__bottom__nav__1;
        }
    }
    :nth-child(2){
        a {
            border-color: $border__bottom__nav__2;
        }
    }
    :nth-child(3){
        a {
            border-color: $border__bottom__nav__3;
        }
    }
    :hover{
        border-width: thin;
    }
}