/* Header */

header {
    align-items: center;
    display: flex;
    height: 100px;
    margin: 0 5%;
    max-width: $max-width;
    padding: 0;

    @include desktop {
        margin: 0 10%;
    }

    .site-branding {
        align-items: center;
        display: flex;
        z-index: 98;
    }
}