.single-exhibition {
    header, footer {
        display: none;
    }

    display: block;

    @include mobile-portrait {
        height: 100vw;
        transform: rotate(90deg);
    }

    @include mobile-landscape {
        transform: rotate(0deg);
    }
}

.exhibition-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;

    @include mobile-portrait {
        width: 100vh;
    }  
}

.exhibition-nav-container {
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
    max-height: 100vh;

    .exhibition-nav-toggle { 
        img {
            height: 40px;
            width: 40px;
        }
    }

    .exhibition-nav {
        align-self: center;
        background: $color__text-main;
        border-radius: 2px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        height: 80%;
        transition: visibility 0s, opacity .5s ease-in-out;
        visibility: hidden;
        width: 100px;
    
        @include desktop {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(11, 1fr);
            visibility: visible;
            width: 50px;
        }

        .exhibition-icon {
            border-radius: 2px;
            height: 100%;
            width: 100%;
            transition: all 0.5s ease-in-out;

            img {
                height: 100%;
                width: 100%;
            }

            &:hover {
                filter: invert(.9);
            }
        }

        .exhibition-icon-active {
            background: $color__background-body;

            &:hover {
                filter: invert(0);
            }
        }

        .exhibition-icon-active img {
            filter: invert(.9);
        }
    }
}

.exhibition-description {
    align-self: center;
    background: $color__background-body;
    border-radius: 5px;
    color: $color__text-main;
    margin-left: $base__space-unit;
    padding: $base__space-unit;
    position: relative;
    opacity: 0;
    transition: visibility 0s, opacity .5s ease-in-out;
    width: 400px;

    .close-btn {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;

        img {
            filter: invert(.9);
        }
    }

    hr {
        width: 30%;
        margin-left: 0;
    }

    .exhibition-meta {
        color: $color__text-light;
        display: block;
        font-size: $font__size-small;

        &::before {
            width: 20px;
            height: 20px;
            background: black;
            border-top: 1px solid $color__brand-blue;
        }

        a {
            color: $color__brand-blue !important;
            transition: all 0.5s ease-in-out;

            &:hover {
                color: darken($color__brand-blue, 15) !important;
            }
        }

        .exhibition-social {
            display: flex;
            justify-content: space-between;

            a {
                border-radius: 3px;
                color: $color__text-white !important;
                flex-basis: 49%;
                font-family: $font__headings;
                font-weight: bold;
                padding: $base__space-unit/2;
                padding-left: 0;
                text-align: center;
                text-transform: uppercase;
                transition: all 0.5s ease-in-out;
            }

            .exhibition-twitter {
                background-color: $color__twitter;

                &:hover {
                    background-color: darken($color__twitter, 15);
                }
            }

            .exhibition-facebook {
                background-color: $color__facebook;

                &:hover {
                    background-color: darken($color__facebook, 15);
                }
            }

            .fab {
                font-size: 20px;
                margin-right: $base__space-unit; 
            }
        }
    }
}

.exhibition-back {
    align-items: center;
    color: $color__text-white !important;
    display: flex;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    bottom: 3rem;
    right: 3rem;
    transition: color 0.5s ease-in-out;

    &:hover {
        color: darken($color__text-white, 20) !important;

        img {
            filter: invert(.3);
        }
    }
    
    @include desktop {
        bottom: 100%;
        top: 3rem;
    }

    img {
        height: 30px;
        margin-left: $base__space-unit/2;
        transition: all 0.5s ease-in-out;
        width: 30px;
    }
}