.site-content {
    overflow: hidden;
}
.bottom-line {
    width: 100% !important;
}
.image-wrapper {
    position: relative;
    .background-image-main {
        height: 1510px;
    }
    .background-map-main {
        position: absolute;
        visibility: hidden;
        top: -64px;
        right: 0;
        width: auto;
    }
    #content {
        position: absolute;
        top: 0;
        margin: 0 5%;
        color: white;
        width: 90%;
        button {
            @include button-style($color__background-body, $color__button__FrontPage);
            width: 100%;
        }
        .title-1 {
            h1{
                line-height: 35px;
                font-size: 35px;
            }
        }
        .title-2 {
            h1{
                font-size: 25px;
                font-weight: 500;
            }
        }
        .title-3 {
            h1{
                font-size: 25px;
                font-weight: 500;
            }
            img {
                position: relative;
                bottom: 40px;
                padding: 0 10%;
            }
        }
        .hashtag {
            text-align: center;
            font-size: 25px;
        }
        hr {
            background-color: white;
            width: 90px;
            height: 2px;
            margin: 30px 0 5px 0;
        }
    }
    @include desktop {
        .background-image-main {
            height: 2680px;
        }
        .background-map-main {
            visibility: visible;
        }
        #content {
            max-width: $max-width;
            margin: 0 10%;
            color: white;
            width: 80%;
            .title-1 {
                margin: 140px 0 140px 0;
                button {
                    width: 150px;
                }
                hr{
                    width: 135px;
                    margin: 0;
                }
                h1{
                    font-size: 100px;
                    letter-spacing: 5px;
                    line-height: 90px;
                    font-weight: 900;
                }
                p{
                    line-height: 34px;
                    font-size: 16px;
                    letter-spacing: 1.5px;
                    font-weight: 100;
                }
            }
            .title-2 {
                display: grid;
                grid-template-columns: 60% 40%;
                margin: 50px 0 140px 0;
                h1{
                    line-height: 47px;
                    font-weight: 700;
                    font-size: 48px;
                    margin: 0;
                }
                img {
                    grid-column-start: 1;
                    grid-row-start: 1;
                    grid-row-end: 4;
                    margin: auto 0;
                }
                button {
                    width: 150px;
                }
                p {
                    margin: 15px 60px 15px 0;
                    line-height: 24px;
                    font-size: 16px;
                    letter-spacing: 1.5px;
                    font-weight: 100;
                }
            }
            .title-3 {
                display: grid;
                grid-template-columns: 40% 60%;
                grid-template-rows: 0fr 0fr 0fr;
                margin: 230px 0 140px 0;
                img {
                    grid-column-start: 2;
                    grid-row-start: 1;
                    grid-row-end: 4;
                    height: 400px;
                    bottom: 100px;
                }
                h1{
                    line-height: 47px;
                    font-weight: 700;
                    font-size: 48px;
                    margin: 0;
                }
                button {
                    width: 200px;
                }
                p {
                    margin: 15px 60px 15px 0;
                    line-height: 24px;
                    font-size: 16px;
                    letter-spacing: 1.5px;
                    font-weight: 100;
                }
            }
            .bottom-line {
                width: 100%;
                margin: 70px 0;
            }
            .hashtag {
                margin: 10% 5%;
                font-size: 55px;
            }
        }
    }
}
@include desktop-main-page {
    #primary .image-wrapper .background-image-main {
        height: 2139px;
    }
    .image-wrapper #content .hashtag {
        font-size: 100px;
        margin: 100px 5%;
    }
}
@include desktop-image{
    .image-wrapper .background-image-main {
        height: 2350px;
    }
    .image-wrapper .hashtag {
        font-size: 70px;
    }
}