.image-wrapper {
    position: relative;
    .background-map-main {
        position: absolute;
        top: -64px;
        right: 0;
        width: auto;
    }
    #content {
        position: absolute;
        top: 0;
        max-width: 1240px;
        margin: 0 10%;
        color: white;
        .title-1 h1{
            font-size: 100px;
        }
        .title-2 {
            display: grid;
            grid-template-columns: 55% 45%;
        }
    }
}