.hero-image {
    position: relative;
    img {
        filter: brightness(75%);
        max-width: unset;
        width: 100%;
    }
    article {
        margin: 0;
        .entry-header {
            position: absolute;
            top: 15%;
            z-index: 1;
            a {
                font-family: Montserrat;
                font-style: normal;
                font-size: 24px;
                text-transform: uppercase;
                color: #FFFFFF;
                text-decoration: none;
                letter-spacing: 1px;
                font-weight: bold;
            }
        }
        .entry-content {
            position: absolute;
            left: 5%;
            top: 30%;
            z-index: 1;
            p{
                font-family: Roboto;
                font-style: normal;
                font-weight: 100;
                line-height: 34px;
                font-size: 16px;
                color: #FFFFFF;
                letter-spacing: 1px;
            }
        }
    }
}
.about-entry-content {
    .hero-text-wrapper{
        max-width: $max-width;
        margin: 0 auto;
        .icon-title {
            display: flex;
            height: 35px;
            margin: 0 0 25px 0;
            img {
                max-width: 100%;
                width: auto;
            }
            h2 {
                margin: 0;
                padding-left: 10px;
            }
        }
    }
}
@include desktop {
    .hero-image{
        article{
            .entry-header {
                margin: 0 5%;
                top: 35%;
                a {
                    font-size: 100px;
                }
            }
            .entry-content {
                max-width: 1240px;
                margin: 24px auto 0 auto;
                top: 45%;
            }
        }
    }
    .about-entry-content{
        max-width: 1240px;
        margin: 0 10%;
        width: 80%;
    }
}