.take-content-area {
  .iconbutton{
        @include button-style($color__brand-blue, $color__text-white);
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
      .desktopbutton{
        @include button-style($color__brand-blue, $color__text-white);
        width: 28rem;
        margin-top: 5rem;
        margin-bottom: 1.5rem;
    }
    .bigbutton{
        display:block;
        text-align: center;
    }
    .take-text-wrapper{
      width: 90%;
      margin: 0 auto;
      p {
         margin-bottom: 1.5rem;
         width: 69%;
         margin-left: 2rem; 
         font-family:$font__main;
      }
      .icons-title {
          display: flex;
          height: 35px;
          margin: 0 0 25px 0;
          img {
              max-width: 100%;
              width: 2rem;
          }
          h2 {
              margin: 0;
              padding-left: 10px;
              font-family:$font__main;
          }
        }
    }
    .takebox{
        justify-content: center;
        color: #fff;
        position: relative;
        display: flex;
        flex-direction: column;
        h1{
            font-size:5rem;
            text-transform:uppercase;
        }
        p{
            font-size:1.5rem;
        } 
    }
    .bannertext{
        position: absolute;
        margin-left:5rem;
        width: 39%;
    }
     
    .mobile-image{
        margin-left: 1rem;
        width: 40vh;
        padding: 1rem;
        }
    .share-box{
        padding: 1rem;
    }
    .share-text{
        color: #FD5E46;
        font-size: 48px;
        }
    }
    // # COLOUR FOOD SECURITY BANNER
    .foodcolour{
        display: flex;
        position: relative;
        justify-content: center;
        font-size: 5rem;
        margin-top: 20rem;
        color:white;
        .foodhashtag{
            position: absolute;
            padding: 2rem;
        }
            
        
    }

@media screen and (min-width : 1240px){
    .steps-container{
    display:flex;
 } 
 .icons-title {
    display: inline-block!important;
    height: 35px;
    margin: 0 0 25px;
}
 .iconbutton{
     display:none;
 }
 .share-box{
    padding: 6rem!important;
    width: 54%;
        p{
            font-size:29px;
        }
 }
 .desktop-image {
    margin-left: 6rem;
    width: 800px;
    padding: 1rem;
 }
 .share-container{
     display:flex;
     justify-content: center;
     margin-top: 15rem;
 }
} 

/* hide mobile show desktop */
@media only screen and (min-width: 620px) {
   .mobile-image {
       display:none;
   }
   .desktop-image {
       display:block;
   }
}
/* show mobile hide desktop */
@media only screen and (max-width: 1240px) {
    .mobile-image {
        display:block;
    }
    .desktop-image {
        display:none;
    }
    .foodcolour{
        display:none;
    }
    .desktopbutton{
        display:none;
        background-color: #2F80ED;
        color: white;
        font-family: monsterrat;
        text-shadow: none;
        width: 14rem;
        margin-bottom: 1.5rem;
    }
}