.take-content-area {
    .gform_ajax_spinner{
        display:none;
    }
    .gform_button{
        @include button-style($color__brand-blue, $color__text-white);
        font-weight: 200;
        
    }
    #gform_submit_button_1{
        width:12rem;
    }
    
    #gform_1{
        display:none;
        border: #c1c1c1 solid 1px;
        box-shadow: 5px 5px 35px 10px #eeeeee;
        padding:3rem;
            h3{
                font-weight: 700;
                font-family: $font__main;
                @include desktop{
                    margin: 0 100px 45px;
                }
            }
    }
    .gform_wrapper{
        text-align: left;
        max-width: 50%;
        margin: 0 auto;
        padding-bottom:4rem;
             
    }
    .gform_footer{
        display:flex;
        justify-content:flex-end;
    }
    .gform_confirmation_message_1{
        margin-left:32.5rem;
    }   
    
  .iconbutton{
        @include button-style($color__brand-blue, $color__text-white);
        margin-top: 3rem;
        margin-bottom: 3rem;
        width:100%;
    }
      .desktopbutton{
        @include button-style($color__brand-blue, $color__text-white);
        width: 28rem;
        font-weight:200;
        margin-bottom: 1.5rem;
    }
    .downloadbutton{
        @include button-style($color__brand-blue, $color__text-white);
        margin-top: 10rem;
        align-self: flex-end;
        width: 12rem;
        margin: 2rem 0;
        font-weight:200;
    }
    .bigbutton{
        text-align: center;
        display:none;
        @include desktop{
            display:block;
        }
    }
    .google-cal{
        @include button-style($color__brand-blue, $color__text-white);
        margin-right:2rem;
        border: 2px solid $color__brand-blue;

        &:hover {
            border: 2px solid darken($color__brand-blue, 15);
        }
    }
    .facebook-event{
        @include button-style($color__text-white, $color__brand-blue);
        border: 2px solid;
    }
    .host-text{
        display:flex;
        justify-content:center;
        font-family:$font__main;
        font-size:3rem;
        color:$color_brand-dark-blue;
        margin-top:5rem;
        @include mobile-portrait{
            font-size:2rem;
        }
    }
    .host-text::before{
        content: "";
        width:120px;
        height:3px;
        background-color: $color__brand-blue;
        margin-right: -7.5rem;
        @include desktop{
            display:none;
        }
    }

    .take-text-wrapper{
      width: 90%;
      margin: 0 auto;
      display:none;
      p {
         font-family:$font__main;
      }
      .icons-title {
          img {
            width: 3rem;
            
          }
          h2 {
              margin: 0;
              font-family:$font__main;
          }
        }
    }
    .takebox{
        justify-content: center;
        color: #fff;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .cloud-container{
        display:flex;
        flex-direction: column;
        align-items: center;
        border: #c1c1c1 solid 1px;
        box-shadow: 5px 5px 35px 10px #eeeeee;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
            h2{
                padding-top:0.5rem;
                font-family:$font__main;
                width:90%;
            }
        &.activated{
            display:flex
        }
        .cloudbackground{
            width: auto;
            height: auto;
            margin-top: 5rem;
        }
        @include desktop {
            display:none;
        }
    }
    .mobile-image{
        margin-left: 1rem;
        width: 40vh;
        padding: 1rem;
        }
    .share-box{
        padding: 1rem;
    }
    .share-text{
        color: #FD5E46;
        font-size: 48px;
        }
    }
    .event-main-container{
        margin-left: auto;
        align-self: center;
        margin-right: 3rem;
        max-width:50%;
            h2{
                color:$color__brand-blue;
                font-family:$font__main;
                font-size:3rem;
            }
            hr{
                width: 5rem;
                height: 2px;
                margin-left: 0;
            }
            p{
                font-size:1rem;
            }
    }
    .event-end{
        background:lightgrey;
        border-radius: 1rem;
        width: 100px;
        color: $color__text-white;
        padding: 5px;
        font-family:$font__main;
        font-weight:700;
        font-size:0.6rem;
        text-align: center;
    }
    .country-title{
        font-size:1rem;
        font-weight:700;
        font-family:$font__main;
    }
    .event-container{
        display:flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .event-names{
        font-family:$font__headings;
        font-weight:700;
        color:$color_brand-dark-blue;
        font-size: 2rem;
        margin-left: 1rem;
            @include desktop{
                display:none;
            }

    }
    .host-events{
        height:100vh;
        background-size: cover,cover;
        display:flex;
       

    }
    .event-date{
        margin-left: 1rem;
        
    }
    .date-box{
        background-color:lightgrey;
        color:$color__text-white;
        font-family:$font__main;
        font-size:1.2rem;
        font-weight:700;
        height: 55px;
        width: 100%;
        padding: 0 2rem;
        margin-right:1rem;
        text-align: center;
    }
    .branch-text{
        font-size: 2rem;
        font-weight: lighter;
        font-family:$font__main;
    }
    .organization-text{
        font-size:1.5rem;
        font-weight: 700;
        font-family:$font__main;

    }
    // # COLOUR FOOD SECURITY BANNER
    .foodcolour{
        display: flex;
        position: relative;
        justify-content: center;
        font-size: 5rem;
        color:white;
        .foodhashtag{
            position: absolute;
            padding: 2rem;
        }
        
    } 
    @include desktop{
        .take-content-area{
        .icons-title {
            display: inline-block!important;
            margin: 0 0 25px;
            img {
                margin-bottom: 0.5rem;
                margin-left: 1.8rem;
                
            }
        }
        .iconbutton{
            display:none;
        }
        .mobile-forms{
            display:none;
        }
        .desktop-image {
            width: 425px;
            height: 580px;
            padding: 1rem;
        }
        .share-container{
            display:flex;
            justify-content: center;
            margin-top: 15rem;
            background:#F2F2F2;
        }
    } 
}
/* hide mobile show desktop sharebackground img */
@include desktop {
   .mobile-image {
       display:none;
   }
   .desktop-image {
       display:block;
   }
}
/* show mobile hide desktop sharebackground img */
@include mobile-portrait {
    .mobile-image {
        display:block;
    }
    .desktop-image {
        display:none;
    }
    .foodcolour{
        display:none;
    }
    .desktopbutton{
        @include button-style;
    }
}

@include mobile-portrait {
.take-content-area{
    .cloud-container,.cloud-container.activated{
        display:none;
    }
    .take-text-wrapper.active {
        display: grid;
    }
    .icons-title img{
        width: 3rem;
    }
    .icons{
        position:absolute;
        margin-left:-1;
    }
    .gform_wrapper{
        max-width: 95%;
    }
  }
}

