.host-events {
    height: auto;
    min-height: 100vh;
    display: grid;
    grid-template: auto auto / 1fr;
    padding: $base__space-unit * 2 0;

    @include desktop {
        grid-template: auto / 1fr 9fr;
        grid-column-gap: 40px;
    }
}

.event-container {
    display: block;
    margin-bottom: $base__space-unit * 2;
    &:hover, &:active, &:focus{
        .date-box{
        background-color:$color__brand-blue;
        transition: all 0.5s ease-in-out;
        }
        .event-end{
        background-color:$color__brand-blue; 
        transition: all 0.5s ease-in-out;
        }
    }
    .event-active{
            background-color:$color__brand-blue;
            color:$color__text-white;
            font-family:$font__main;
    }
}
.event-calendar {
    padding: $base__space-unit;
    @include desktop{
        margin-left: $base__space-unit * 3;
    }

}

.event-date {
    cursor: pointer;
    display: grid;
    grid-template: 1fr 1fr 1fr / 80px 1fr;
    grid-column-gap: 40px;

    .date-box {
        height: 80px;
        max-width: 80px;
        display: flex;
        justify-content: center;
        grid-row: 1 / 4;
        padding: $base__space-unit / 2;
    }

    p {
        margin: 0; 
    }
}

.event-end {
    font-size: $font__size-small;
    padding: 4px;
    text-align: center;
}

.event-description {
    display: none;

    @include desktop {
        display: none;
    }
}

.event-main-container {
    display: none;

    @include desktop {
        display: block;
        margin: 0;
        max-width: 600px;
        place-self: start center;
    }

    h2 {
        margin: 0;
    }
}

.event-social, .event-social-single {
    display: flex;
    flex-flow: wrap;

    a {
        display: block;
        margin-bottom: $base__space-unit;
    }
}