// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin desktop {
    @media (min-width: $desktop-width) {
      @content;
    }
}

@mixin mobile-portrait {
	@media only screen and (orientation:portrait) and (max-width: $desktop-width) {
		@content;
	}
}

@mixin mobile-landscape {
	@media only screen and (orientation:landscape) and (max-width: $desktop-width) {
		@content;
	}
}
