// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin desktop {
    @media (min-width: $desktop-width) {
	  @content;
    }
}

@mixin mobile-portrait {
	@media only screen and (orientation:portrait) and (max-width: $desktop-width) {
		@content;
	}
}

@mixin mobile-landscape {
	@media only screen and (orientation:landscape) and (max-width: $desktop-width) {
		@content;
	}
}


@mixin button-style ($bg_color: $color__background-body, $color: $color__text-main) {
	background-color: $bg_color;
	border-radius: 3px;
	color: $color !important;
	font-family: $font__headings;
	font-weight: bold;
	padding: $base__space-unit/2;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.5s ease-in-out;

	&:hover {
		background-color: darken($bg_color, 15);
	}
}